[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/share/ublue-os/docs/serve.sh
Icon=/usr/share/ublue-os/bazzite/docs.svg
Name=Documentation
Name[cs]=Dokumentace
Name[el]=Τεκμηρίωση
Name[ru]=Документация
Comment=View Cordierite Documentation
Comment[cs]=Zobrazit dokumentaci k Cordierite
Comment[fr]=Voir la documentation de Cordierite
Comment[el]=Προβολή τεκμηρίωσης Cordierite
Comment[ru]=Посмотреть документацию Cordierite
Categories=Utility;
