[Desktop Entry]
Type=Application
Name=Cordierite Portal Setup
GenericName=Cordierite Setup Portal
Comment=Launch Cordierite Portal for system setup and configuration
Exec=/usr/libexec/bazzite-yafti-launcher
Icon=/usr/share/ublue-os/bazzite/portal.svg
Terminal=false
Categories=Utility;
