[Desktop Entry]
Type=Application
Name=Cordierite Announcements
Name[sv]=Cordierite-meddelanden
Exec=/usr/libexec/bazzite-announcement
Terminal=false
StartupNotify=false
X-GNOME-Autostart-enabled=true
